NODE : 
    sudo apt install nodejs
    sudo apt install nodejs npm
    npm install express
    npm install -g socket.io --save
    npm install -g cassandra-driver
    npm install --save body-parser
    npm install fs
    
PYTHON : 
    sudo apt install python3
    sudo apt install python3-numpy
    sudo apt install python3-pandas
    
    sudo pip3 install tmpo
    sudo pip install cassandra-driver

CASSANDRA : 
    echo "deb http://www.apache.org/dist/cassandra/debian 40x main" | sudo tee -a /etc/apt/sources.list.d/cassandra.sources.list
    sudo apt install openjdk-8-jre-headless
    cd /usr/lib/jvm/java-8-openjdk-amd64/
    pwd
    sudo nano ~/.bashrc   => set JAVA_HOME = <pwd>
    sudo apt install curl
    curl https://downloads.apache.org/cassandra/KEYS | sudo apt-key add -
    sudo apt-get install cassandra
    sudo pip install cqlsh

OTHER (not useful for the vms):
    matplotlib
    PyQt5
