 
[Unit]
Description=service test random sleeps
After=multi-user.target

[Service]
Type=oneshot
Restart=no
ExecStart=home/alexandre_hnf/Desktop/Vde/Environments/backendenv/bin/python3 "/home/alexandre_hnf/Desktop/Vde/repository/Voisin-d-energie-ULB/production/random_sleeps.py"

[Install]
WantedBy=syncRawFluksoDataS.timer
