[Unit]
Description=Backend service - alert for incorrect signs
After=multi-user.target

[Service]
Type=oneshot
Restart=no
ExecStart=/opt/vde/venv/bin/python3 "/opt/vde/alerts.py" --m sign

[Install]
WantedBy=multi-user.target
