[Unit]
Description=Backend service - sync raw data
After=multi-user.target

[Service]
Type=simple
Restart=no
ExecStart=/opt/vde/venv/bin/python3 "/opt/vde/src/vde_backend/syncRawFluksoData.py"
TimeoutSec=5hours

[Install]
WantedBy=multi-user.target
