[Unit]
Description=Backend service - sync raw data
After=multi-user.target

[Service]
Type=oneshot
Restart=no
ExecStart=/opt/vde/venv/bin/python3 "/opt/vde/sync_flukso.py"
TimeoutSec=5hours

[Install]
WantedBy=multi-user.target
