[Unit]
Description=frontend systemd service - production
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/node "/opt/vde/webapp/server.js"
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-sample
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
