[Unit]
Description=Backend service - sync RTU data
After=multi-user.target network.target

[Service]
Type=oneshot
Restart=no
ExecStart=/opt/vde/venv/bin/python3 "/opt/vde/sync_rtu.py"
TimeoutSec=4minutes

[Install]
WantedBy=multi-user.target

