/* Create two equal columns that floats next to each other */
.zone {
    float: left;
    width: 50%;
    padding: 10px;
}

.jumbotron {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }

.active {
    display: block
}