[Unit]
Description=Backend service - sync raw data - test in local
After=multi-user.target

[Service]
Type=simple
Restart=no
ExecStart=/home/alexandre_hnf/Desktop/Vde/Environments/backendenv/bin/python3 "/home/alexandre_hnf/Desktop/Vde/repository/Voisin-d-energie-ULB/syncRawFluksoData.py" --mode automatic

[Install]
WantedBy=multi-user.target
