[Unit]
Description=Backend service - sync raw data
After=multi-user.target

[Service]
Type=simple
Restart=no
User=vde 
Group=ipa-iridia-vde
ExecStart=/opt/vde/venv/bin/python3 "/opt/vde/syncRawFluksoData.py" --mode automatic

[Install]
WantedBy=multi-user.target
